/node_modules
/public/hot
/storage/*.key
/vendor/ourcodeworld/name-that-color/.git
.env
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
**/*.log
**/*.xml
**/*error

**/*.mp4
**/*.mkv
**/*.3gp
**/*.avi
**/*.mpg

**/*.zip
**/*.7z
**/*.rar
**/*.tar

**/*.pdf
**/*.doc
**/*.docx
**/*.xlx
**/*.xlxs
**/*.ai
**/*.psd
**/*.iso
desktop.ini
*.ini
Thumbs.db
